/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Span entire width */
  background-color: #6e072d;
  color: white;
}

.navbar-left, .navbar-right {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-left li, .navbar-right li {
  font-size: 18px;
  padding: 18px 27px; /* Vertical: font-size, Horizontal: 1.5 * font-size */
  cursor: pointer;
  border-left: 2px solid white; /* Apply border to all */
}

.navbar-left li:first-child {
  border-left: none; /* Remove border from first item in the left list */
}

.navbar-right li:last-child {
  border-left: none; /* Remove border from first item in the right list */
}

.navbar-left li:hover, .navbar-right li:hover {
  background-color: #b90e4d;
}

.navbar-right li {
  border-left: 2px solid white; /* Border between items */
}
